<div class="row">
  <div class="col-md-6">
    <%= form_for(@pin, multipart: true) do |f| %>
      <% if @pin.errors.any? %>
        <div class="error_explanation">
          <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

          <ul>
            <% @pin.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :url %>
        <%= f.url_field :url, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :text %>
        <%= f.text_area :text, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div class="form-group">
        <%= f.label :pin_category_id %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: "form-control" }) %>
      </div>

      <%= f.fields_for :pinning do |p| %>
        <div class="form-group">
          <label>Which board?</label>
          <%= p.collection_select(:board_id, current_user.boards, :id, :name, {}, {class: "form-control"}) %>
          <%= p.hidden_field :user_id, value: current_user.id %>
      <% end %>

      <%= f.submit class: "btn btn-default" %>

    <% end %>
  </div>
</div>
